<div  class="row">
  <div  class="col-lg-8 portlets">
    <div  class="widget">
      <div class="widget-header">
        <h2><i class="fa fa-user"></i> <strong>Admission</strong> Form</h2>
        <div class="additional-btn">
          <a href="#" class="hidden reload"><i class="fa fa-repeat"></i></a>
          <a class="hidden" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-cogs"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
          <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="fa fa-chevron-up "></i></a>
          <a href="#" class="widget-maximize hidden"><i class="fa fa-arrows"></i></a>
          <a href="#" class="widget-toggle"><i class="fa fa-chevron-down"></i></a>
          <a href="#" class="widget-close"><i class="fa fa-close"></i></a>
        </div>
      </div>
      <div class="widget-content">
        <div class="row stacked">
          <div class="col-sm-12 portlets">

            <div class="widget">

              <div class="widget-content padding">
                <div id="basic-form">
                  <form role="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Student Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Student name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fathers Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="fathers name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Mother Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mother Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Local Guardian name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Local Guardian name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Relation with Guardian</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Local Guardian name">
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Gender</label>
                      <div class="col-sm-10">
                        <div class="radio iradio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Male
                          </label>
                        </div>
                        <div class="radio iradio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Female
                          </label>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="file" class="btn btn-default" title="Search for a file to add">
                      <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
            </div>

          </div>


        </div>

      </div>
    </div>
  </div>
    </div>