<div  class="content profile-banner" >
  <div class="col-sm-3 avatar-container">
    <img src="images/user5.jpg" class=" profile-avatar" alt="User avatar">
  </div>
  <div class="col-sm-12 profile-actions text-right">
    <button type="button" class="btn btn-google-plus btn-sm"><i class="fa fa-bookmark"></i> Class xi </button>
    <button type="button" class="btn btn-blue-3 btn-sm"><i class="fa fa-certificate"></i> 101-33-184</button>
    <button type="button" class="btn btn-blue-3 btn-sm"><i class="fa fa-ellipsis-v"></i></button>
  </div>
</div>
<div class="content">

<div class="row">
<div class="col-sm-3">
  <!-- Begin user profile -->
  <div class="user-profile-2">
    <h4 class="text-center"> <b>Jannat jui Abida </b></h4>


    <ul class="list-group">
      <li class="list-group-item">

        <span class="badge label label-success ">1,245 tk</span>
        Total paid
      </li>
      <li class="list-group-item">
        <span class="badge label label-warning ">245 tk</span>
        Due Fee
      </li>
      <li class="list-group-item">
        <span class="badge label label-danger">Unpaid</span>
        Fee Current Month
      </li>
    </ul>

    <!-- User button -->

  </div><!-- End div .box-info -->



  <!-- Start info box -->
  <div class="row top-summary">

    <div class="col-lg-12 col-md-6">
      <div class="widget lightblue-4">
        <div class="widget-content padding">
          <div class="widget-icon">

          </div>
          <div class="text-box">
            <p class="maindata-1"><i class="fa fa-th-large"></i> <a href=""> TOTAL ATTENDANCE </a></p>
            <h3><span class="animate-number" data-value="6399" data-duration="3000">0</span> Dayes</h3>

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="widget-footer1">
          <div class="row">
            <div class="col-sm-12">
              <i class="fa fa-caret-right rel-change"></i> <b>Presant 88% </b>
            </div>
            <div class="col-sm-12">
              <i class="fa fa-caret-right rel-change"></i> <b>Absent 12% </b>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="widget lightblue-4">
        <div class="widget-content padding">
          <div class="widget-icon">

          </div>
          <div class="text-box">
            <p class="maindata-1"><i class="fa fa-th-list"> </i>  <a href="#">RECENT EXAM REPORT </a></p>
            <h3><span class="animate-number"  ></span>GPA- A+</h3>

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="widget-footer1">
          <div class="row">
            <div class="col-sm-12">
              <i class="fa fa-caret-right rel-change"></i> <b>Total Mark 600 / 800			</b></div>
            <div class="col-sm-12">
              <i class="fa fa-caret-right rel-change"></i> <b>Position  : 3rd</b>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="widget">
        <div class="widget-content img-responsive">
          <img style="width:100%; padding:3px;" src="images/map.jpg">

        </div>

      </div>
    </div><!-- End of col-lg-12 col-md-6 -->
    <div class="col-lg-12 col-md-6 info-list">

      <ul>
        <li><a href="#"> <i class="fa fa-area-chart"></i> Payment information</a></li>
        <li><a href="#"> <i class="fa fa-book"></i> Acdemic Result </a></li>
        <li><a href="#"> <i class="fa fa-pencil-square-o"></i> Application </a></li>
        <li><a href="#"> <i class="fa fa-envelope"></i> Mail </a></li>
        <li><a href="#"> <i class="fa fa-calendar-o"></i> Class routine </a></li>
        <li><a href="#"> <i class="fa fa-calendar"></i> Exam  routine </a></li>
      </ul>

    </div><!-- End of col-lg-12 col-md-6 -->




  </div><!-- End of info box -->

  <!-- Begin user profile -->
</div><!-- End div .col-sm-4 -->


<div class="col-sm-9">
<div class="widget widget-tabbed">
<!-- Nav tab -->
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#my-timeline" data-toggle="tab"><i class="fa fa-inbox"></i> Timeline</a></li>
  <li><a href="#about" data-toggle="tab"><i class="fa fa-user"></i> About</a></li>
  <li><a href="#user-activities" data-toggle="tab"><i class="fa fa-laptop"></i> Activities</a></li>
  <li><a href="#mymessage" data-toggle="tab"><i class="fa fa-envelope"></i> Message</a></li>
</ul>
<!-- End nav tab -->

<!-- Tab panes -->
<div class="tab-content">


<!-- Tab timeline -->
<div class="tab-pane animated active fadeInRight" id="my-timeline">
  <div class="user-profile-content">
    <div style="border:1px solid #EDEDED; border-radius:3px; padding:10px;" class="widget">

      <ul style="margin:0" id="demo5" class="nav nav-tabs nav-simple">
        <li class="active">
          <a href="#demo5-home" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update Notice</a>
        </li>
        <li class="">
          <a href="#demo5-profile" data-toggle="tab"><i class="fa fa-signal"></i> Sent sms</a>
        </li>
        <li class="">
          <a href="#demo5-dropdown1" data-toggle="tab"> <i class="fa fa-fax"></i> Something <span class="label bg-red-1">New</span></a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in the-timeline" id="demo5-home">
          <form role="form" class="post-to-timeline">
            <textarea class="form-control"  placeholder="Notice Post to timeline..."></textarea>

            <div class="col-sm-6">
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-video-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-map-marker"></i></a>
            </div>
            <div class="col-sm-6 text-right"><button type="submit" class="btn btn-blue-3"><i class="fa fa-retweet"></i> Post</button></div>

          </form>
        </div> <!-- / .tab-pane -->
        <div class="tab-pane fadein the-timeline" id="demo5-profile">
          <form role="form" class="post-to-timeline">
            <textarea class="form-control"  placeholder="Wright a message..."></textarea>
            <div class="col-sm-6">
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-video-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-map-marker"></i></a>
            </div>
            <div class="col-sm-6 text-right"><button type="submit" class="btn btn-blue-3"><i class="fa fa-retweet"></i> Sent</button></div>
          </form>
        </div> <!-- / .tab-pane -->
        <div class="tab-pane fade the-timeline" id="demo5-dropdown1">
          <form role="form" class="post-to-timeline">
            <textarea class="form-control"  placeholder="Notice Post to timeline..."></textarea>

            <div  class="col-sm-6">
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-video-camera"></i></a>
              <a class="btn btn-sm btn-primary" data-toggle="tooltip" title="Add photo to  post"><i class="fa fa-map-marker"></i></a>
            </div>
            <div class="col-sm-6 text-right"><button type="submit" class="btn btn-blue-3"><i class="fa fa-retweet"></i> Post</button></div>

          </form>
        </div> <!-- / .tab-pane -->

      </div> <!-- / .tab-content -->
    </div><!-- / total .tab-content -->

    <!-- Begin timeline -->
    <div class="the-timeline">

      <ul>
        <li>

          <h4>Sayful Islam <i class="fa fa-home"></i><span> Main Campus</span> </h4>
          <h6>31 December 2014  <span>|  BY ADMIN</span> </h6>
          <p>
            হঠাৎমোবাইল এর চার্জ শেষ? ভালো পাওয়ার ব্যাংক খুজছেন? নিয়ে নিন টপ ক্লাস ব্র্যান্ড অরিজিনাল সাওমি (MI) এর একটি পাওয়ার ব্যাংক!!!
            বি।দ্র। সস্তার ৩ অবস্থা...... ৪০০/৫০০টাকা এর নকল সাওমি পাওয়ার ব্যাংক কিনে মোবাইল এর বারোটা বাজাবেন না!
            ব্র্যান্ড: সাওমি/মি (MI/Xaomi)
            প্রোডাক্টঃ পাওয়ার ব্যাংক
            ধারন ক্ষমতাঃ ১০৪০০ মিলিঅ্যাম্পিয়ার
            রংঃ কালো/পিঙ্ক/নীল/গোল্ডেন/হাল্কা সবুজ
            দামঃ ১৩০০ টাকা (ফিক্সড)
            লোকেশনঃ মিরপুর ১, শ্যামলী, কল্যাণপুর, (ফ্রী ডেলিভারি)
            (ঢাকার মধ্যে অন্যান্য জায়গায় ৫০ টাকা ডেলিভারি চার্জ)
          </p>
        </li>
        <li>

          <h4>Sayful Islam <i class="fa fa-home"></i><span> Main Campus</span> </h4>
          <h6>31 December 2014  <span>|  BY ADMIN</span> </h6>
          <div class="videoWrapper">
            <iframe src="//player.vimeo.com/video/85847275?title=0&amp;byline=0&amp;portrait=0"></iframe>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
        <li>

          <h4>Sayful Islam <i class="fa fa-home"></i><span> Main Campus</span> </h4>
          <h6>31 December 2014  <span>|  BY ADMIN</span> </h6>
          <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132890481&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>

        <li>
          <h4>Sayful Islam <i class="fa fa-home"></i><span> Main Campus</span> </h4>
          <h6>31 December 2014  <span>|  BY ADMIN</span> </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
        <li>
          <h4>Sayful Islam <i class="fa fa-home"></i><span> Main Campus</span> </h4>
          <h6>31 December 2014  <span>|  BY ADMIN</span> </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
      </ul>
    </div><!-- End div .the-timeline -->
    <!-- End timeline -->
  </div><!-- End div .user-profile-content -->
</div><!-- End div .tab-pane -->
<!-- End Tab timeline -->

<!-- Tab about -->
<div class="tab-pane animated fadeInRight" id="about">
  <div class="user-profile-content">
    <h5><strong>ABOUT</strong> ME</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </p>
    <hr />
    <div class="row">
      <div  class="col-sm-3 profile-info">
        <ul>
          <li class="profile-active"><a href="#">Basic Info</a></li>
          <li><a href="#">Guardian Info</a></li>
          <li><a href="#">Contact Info</a></li>
        </ul>
      </div>
      <div  class="col-sm-9 profile-details">
        <li><strong>Personal Information</strong></li>
        <li><a>Name</a>
          <span>Nusrat jahan</span>
        </li>
        <li><a>ID</a>
          <span>101-33-184</span>
        </li>
        <li><a>Class</a>
          <span>xi</span>
        </li>
        <li><a>Section</a>
          <span>A</span>
        </li>
        <li><a>Mobile</a>
          <span>+8801676152414</span>
        </li>

        <li><a>Date of Year</a>
          <span>1 January</span>
        </li>
        <li><a>Year of Birth</a>
          <span>2005</span>
        </li>
        <li><a>Gender</a>
          <span>Male</span>
        </li>
        <li><a>Relagion</a>
          <span>Islam</span>
        </li>
        <li><a>User id</a>
          <span>janta-184</span>
        </li>
        <li><a>Email</a>
          <span>janta-184@schs.com</span>
        </li>

        <li><strong>Father Information</strong></li>

        <li><a>Name</a>
          <span>Abdus Samad</span>
        </li>
        <li><a>Profesion</a>
          <span>Business</span>
        </li>
        <li><a>National id</a>
          <span>1002827180272</span>
        </li>
        <li><a>Phone</a>
          <span> +8801676152414</span>
        </li>

        <li><a>Mobile</a>
          <span> +8801676152414</span>
        </li>

        <li><a>Email</a>
          <span>janta-184@schs.com</span>
        </li>
        <li><strong>Mother Information</strong></li>

        <li><a>Name</a>
          <span>Nusrat Fahima</span>
        </li>
        <li><a>Profesion</a>
          <span>Houswife</span>
        </li>
        <li><a>National id</a>
          <span>1002827180272</span>
        </li>

        <li><a>Mobile</a>
          <span>+8801676152414</span>
        </li>

        <li><a>Email</a>
          <span>janta-184@schs.com</span>
        </li>

      </div>
    </div><!-- End div .row -->
  </div><!-- End div .user-profile-content -->
</div><!-- End div .tab-pane -->
<!-- End Tab about -->


<!-- Tab user activities -->
<div class="tab-pane animated fadeInRight" id="user-activities">
  <div class="scroll-user-widget">
    <ul class="media-list">
      <li class="media">
        <a href="#fakelink">
          <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
            <br /><i>2 minutes ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>John Doe</strong> Created an photo album  <strong>&#34;Indonesia Tourism&#34;</strong>
            <br /><i>8 minutes ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Annisa</strong> Posted an article  <strong>&#34;Yogyakarta never ending Asia&#34;</strong>
            <br /><i>an hour ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Ari Rusmanto</strong> Added 3 products
            <br /><i>3 hours ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Hana Sartika</strong> Send you a message  <strong>&#34;Lorem ipsum dolor...&#34;</strong>
            <br /><i>12 hours ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Johnny Depp</strong> Updated his avatar
            <br /><i>Yesterday</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
            <br /><i>2 minutes ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>John Doe</strong> Created an photo album  <strong>&#34;Indonesia Tourism&#34;</strong>
            <br /><i>8 minutes ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Annisa</strong> Posted an article  <strong>&#34;Yogyakarta never ending Asia&#34;</strong>
            <br /><i>an hour ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Ari Rusmanto</strong> Added 3 products
            <br /><i>3 hours ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Hana Sartika</strong> Send you a message  <strong>&#34;Lorem ipsum dolor...&#34;</strong>
            <br /><i>12 hours ago</i></p>
        </a>
      </li>
      <li class="media">
        <a href="#fakelink">
          <p><strong>Johnny Depp</strong> Updated his avatar
            <br /><i>Yesterday</i></p>
        </a>
      </li>
    </ul>
  </div><!-- End div .scroll-user-widget -->
</div><!-- End div .tab-pane -->
<!-- End Tab user activities -->

<!-- Tab user messages -->
<div class="tab-pane animated fadeInRight" id="mymessage">
  <div class="scroll-user-widget">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/2.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">John Doe</a> <small>Just now</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/1.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Annisa</a> <small>Yesterday at 04:00 AM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/5.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Rusmanovski</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/4.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Ari Rusmanto</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/3.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Jenny Doe</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/2.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">John Doe</a> <small>Just now</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/1.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Annisa</a> <small>Yesterday at 04:00 AM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/5.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Rusmanovski</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/4.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Ari Rusmanto</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <img class="media-object" src="assets/img/avatar/3.jpg" alt="Avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#fakelink">Jenny Doe</a> <small>January 17, 2014 05:35 PM</small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </li>
    </ul>
  </div><!-- End div .scroll-user-widget -->
</div><!-- End div .tab-pane -->
<!-- End Tab user messages -->
</div><!-- End div .tab-content -->
</div><!-- End div .box-info -->
</div>
</div>
</div>

<!-- Footer Start -->
