<div style="margin-bottom:40px; border-bottom:1px solid #E1E1E1; padding-bottom:10px;" class="row   top-summary">
  <a href="#">
    <div class="col-lg-1 col-md-6">
      <div class="widget ">
        <div class="widget-content">

          <div class="menu-logo">
            <img src="images/icone/Money@58w.png" >
            <a>Admission</a>
          </div>

        </div>

      </div>
    </div>
  </a>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Ticks@58w.png" >
          <a style="margin-left:-5px;" >Attandance</a>
        </div>

      </div>

    </div>
  </div>

  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Pieces@58w.png" >
          <a style="margin-left:7px;" > Result</a>
        </div>

      </div>

    </div>
  </div>

  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Docs@58w.png" >
          <a style="margin-left:9px;">  Notice</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Crossed@58w.png" >
          <a style="margin-left:6px;">  Routine</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Payments@58w.png" >
          <a style="margin-left:15px;">Fee</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Links@58w.png" >
          <a style="margin-left:8px;">Payroll</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Graph@58w.png" >
          <a style="margin-left:-5px;">Accounting</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/World@58w.png" >
          <a style="margin-left:5px;">Librarry</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Ring@58w.png" >
          <a style="margin-left:15px;">Fleet</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Bubbles 2@58w.png" >
          <a>Education</a>
        </div>

      </div>

    </div>
  </div>
  <div class="col-lg-1 col-md-6">
    <div class="widget ">
      <div class="widget-content">
        <div class="menu-logo">
          <img src="images/icone/Location@58w.png" >
          <a style="margin-left:12px;">Social</a>
        </div>

      </div>

    </div>
  </div>

</div>